body * {
    font-family: Calibri;
}

body {
    margin: 0;
    background-color: rgb(212, 212, 212);
}

.main-viewport {
    background-color: rgb(245, 245, 245);
    min-height: 100vh;
    display: flex;
}

.form-main-container {
    box-sizing: border-box;
    flex: 1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.form-main-container>div {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-main-container>div>button {
    width: fit-content;
}

.cv-result-container {
    height: 100vh;
    flex: 1;
}

.single-input {
    margin: 20px;
    position: relative;
}

.label-input {
    position: absolute;
    font-size: 14px;
    background-color: white;
    padding: 0 3px;
    top: -10px;
    left: 13px;
    color: rgb(78, 78, 78)
}

::placeholder {
    color: rgb(168, 168, 168);
}

.text-inputs {
    box-sizing: border-box;
    border-radius: 10px;
    padding-left: 15px;
    height: 30px;
    border: 1px solid rgb(138, 138, 138);
    width: 100%;

}

.personalinfo-form {
    background-color: white;
    border-radius: 15px;
    height: fit-content;
    min-width: 500px;
    max-width: 700px;
}


.personalinfo-nameinput-cont {
    display: flex;
}

.personalinfo-nameinput-cont div {
    flex: 1;
}

.personalinfo-addressone-cont {
    display: flex;
}

.upload-btn-cont {
    padding: 20px;
}

.personalinfo-addressone-cont :nth-child(1) {
    flex: 1;
}

.personalinfo-addressone-cont :nth-child(2) {
    flex: 0.4;
}

.zipcode-cont {
    display: flex;
    flex-direction: column;
}

.zipcode-cont div {
    flex: 1;
}

.upload-btn-cont {
    display: flex;
    justify-content: left;
    gap: 20px;
}

.upload-btn-cont span {
    color: blue;
    font-style: oblique;
    text-decoration: underline;
}

.addphoto-btn {
    font-size: 13px;
    border-radius: 5px;
    border: 0;
    background-color: #59C1B7;
    color: white;
    padding: 6px 24px;
}


/* Section titles styles */


.section-titles {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(78, 78, 78)
}

.section-titles div {
    position: absolute;
    background-color: rgb(245, 245, 245);
    padding: 0 5px;
    font-size: 25px;
}

.section-titles hr {
    position: relative;
    width: 500px;
    height: 0.5px;
    border-radius: 10px;
    background-color: rgb(84, 84, 84);
}


/* Education form */

.education-form {
    background-color: white;
    border-radius: 15px;
    height: fit-content;
    min-width: 500px;
    max-width: 700px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 50px);
    align-items: center;
    position: relative;
    margin-bottom: 30px;
    padding: 10px 0;
}

.education-form>#one {
    grid-row: 1;
    grid-column: 1/4;
}

.education-form>#two {
    grid-row: 2;
    grid-column: 1/3;
}

.education-form>#four {
    grid-row: 3;
    grid-column: 1/4;
    display: flex;
}

.education-form>#four>div {
    flex: 1;
}

.edu-form-single-title {
    position: absolute;
    top: -13px;
    left: 20px;
    background-color: #59C1B7;
    color: white;
    padding: 2px 15px;
    border-radius: 5px;
    font-size: 13.5px;
}

.edu-form-delete-btn {
    border: 0;
    position: absolute;
    top: 5px;
    right: 11px;
    background-color: #f5e666;
    color: rgb(60, 60, 60);
    padding: 2px 15px;
    border-radius: 5px;
    font-size: 13.5px;
    height: 10px;
    cursor: pointer;
    transition: 0.1s;
    width: 10px;
    color: transparent;
    font-size: 0;
}

.edu-form-delete-btn:hover {
    width: 100px;
    height: 20px;
    color: black;
    font-size: 14px;
}


/* Workexperience single FORM */
.work-form {
    background-color: white;
    border-radius: 15px;
    height: fit-content;
    min-width: 500px;
    max-width: 700px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 50px);
    align-items: center;
    position: relative;
    margin-bottom: 30px;
    padding: 10px 0;
}

.work-form>#one {
    grid-row: 1;
    grid-column: 1/3;
}

.work-form>#two {
    grid-row: 2;
    grid-column: 1/3;
}

.work-form>#three {
    grid-row: 3;
    grid-column: 1/4;
    display: flex;
}

.work-form>#three>div {
    flex: 1;
}

.work-form>#four {
    grid-row: 2;
    grid-column: 3/4;
}

.work-form>#five {
    grid-row: 4;
    grid-column: 1/2;
}

.work-form>#six {
    grid-row: 4;
    grid-column: 2/3;
}

.work-form>#seven {
    grid-row: 4;
    grid-column: 3/4;
}

.work-form>#eight {
    grid-row: span 2;
    grid-column: 1/4;
    height: 90px;
    margin: 20px;
    position: relative;
}

.work-form>#eight>textarea {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    resize: none;
}

.work-form>#eight>div {
    position: absolute;
    font-size: 13px;
    bottom: 0px;
    right: 3px;
    color: gray;
}

.work-form>#eight>span {
    color: rgb(78, 78, 78);
    padding: 0 5px;
    position: absolute;
    background-color: white;
    font-size: 14px;
    top: -10px;
    left: 15px;
}